<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Predictor</title>
</head>
<style>
    .url-button {
        display: inline-block;
        padding: 13px 23px;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.3rem;
        transition: background-color 0.3s;
        margin-left: 40%;
    }

    .url-button:hover {
        background-color: #0056b3;
    }
    h1{
        text-align: center;

    }
</style>

<body>
    
    <h1> Welcome to Machine Learning Model in Linear regression 
        to check prediction </h1>

        <a href="http://0.0.0.0:5000/predict" class="url-button">click here to predict data </a>
</body>
</html>